.sheet_title
  - content_for :page_title, t('.title', developer: @developer.name)

- if BuildingComplexPolicy.new(current_user, @building_complexes.new).new?
  = link_to t('.create_building_complex'), new_developer_building_complex_path(@developer)

.sheet_content
  - if @building_complexes.present?
    %table
      %thead
        %th= t('.name')
        %th= t('.properties')
      %body
        - @building_complexes.each do |building_complex|
          %tr
            %td
              - if BuildingComplexPolicy.new(current_user, building_complex).edit?
                = link_to building_complex.name,
                          edit_developer_building_complex_path(@developer, building_complex)
              - else
                = link_to building_complex.name,
                          developer_building_complex_path(@developer, building_complex)
            %td
              = link_to t('.show_properties'),
                        developer_building_complex_properties_path(@developer, building_complex)

  - else
    %p= t('.records_not_found')
