.sheet_title
  - content_for :page_title, t('.title')

.sheet_content.listing
  .building_complex
    %span.item-title
      = t('.building_complex')
    %span.item-content
      = @building_complex.name
  .developer
    %span.item-title
      = t('.developer')
    %span.item-content
      = @developer.name
  .description
    %span.item-title
      = t('.description')
    %span.item-content
      = @building_complex.description