%h2
  = t('.edit', name: resource.name)
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email
  .field
    = f.label :password
    %i
      = t('.leave_blank_password')
    %br/
    = f.password_field :password, autocomplete: 'off'
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: 'off'
  .field
    = f.label :current_password
    %i
      = t('.confirm_changes')
    %br/
    = f.password_field :current_password, autocomplete: 'off'
  .field
    = f.label :role
    %br/
    = f.collection_select :role, human_roles_form_collection, :first, :last
  %br/
  .actions
    = f.submit t('.update')
