= simple_form_for @property, url: url do |f|
  = f.input :name
  = f.input :feature_list
  %h3
    = t('.attachments')
  #attachments
    = f.fields_for :attachments do |attachment|
      = render 'attachment_fields', f: attachment
    .links
      = link_to_add_association t('.add_property_photo'), f, :attachments
  = f.input :description
  = f.input :latitude, as: :string
  = f.input :longitude, as: :string
  = f.button :submit
