.sheet_title
  - content_for :page_title, t('.title')

.sheet_content.listing
  .name
    %span.item-title
      = t('.range')
    %span.item-content
      = @floor.range
  .property
    %span.item-title
      = t('.property')
    %span.item-content
      = @property.name
  .building_complex
    %span.item-title
      = t('.building_complex')
    %span.item-content
      = @building_complex.name
  .developer
    %span.item-title
      = t('.developer')
    %span.item-content
      = @developer.name
  .description
    %span.item-title
      = t('.description')
    %span.item-content
      = @floor.description

- @floor.attachments.each do |attachment|
  = image_tag attachment.file.url(:medium)