.sheet_title
  - content_for :page_title, t('.title')

.sheet_content
  .name
    = t('.range')
    = @floor.range
  .property
    = t('.property')
    = @property.name
  .building_complex
    = t('.building_complex')
    = @building_complex.name
  .developer
    = t('.developer')
    = @developer.name
  .description
    = t('.description')
    = @floor.description

- @floor.attachments.each do |attachment|
  = image_tag attachment.file.url(:medium)